.frequently_asked_questions {
  width: 1260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    width: 641px;
    height: 172px;
    text-align: center;
    margin-bottom: 56px;
  }
}

.content {
  display: flex;
  gap: 24px;

  &__left_part {
    width: 496px;
    height: 505px;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }

    img {
      width: 344px;
      height: 405px;
      position: absolute;
      z-index: -2;
      scale: 6;
      transform: translateX(10px);
    }
  }

  &__right_part {
    width: 703px;
  }
}

.article {

  &__title {
    transform: translate(20px, 20px);
    overflow: hidden;
  }

  &:hover {
    cursor: pointer;
  }

  &__text {
    padding-left: 23px;
    overflow: hidden;

    &_active {
      padding-bottom: 63px;
      padding-top: 40px;
      //height: 112px;
      //margin-bottom: 50px;
    }
  }
}

.question_box_closed {
  width: 703px;
  height: 62px;
  position: absolute;
  z-index: -1;
}

.question_box_open {
  width: 703px;
  height: 166px;
  position: absolute;
  z-index: -1;
}

.articles_list {
  list-style: none;
}