.main, {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main,
.header,
.footer {
}

.background_image {
  position: absolute;
  height: 6124px;
  //max-width: 1920px;
  width: 1000%;
  background-size: cover;
  top: 150px;
  z-index: -1;
}

.bg_image {
  position: absolute;
  height: 815px;
  max-width: 1920px;
  width: 100%;
  background-size: cover;
  z-index: -2;
}
